body{
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #7BF6D4;
    padding: 0.5rem;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li{
    margin: 0 1rem;
}

img {
 width: 60px;
}